[Unit]
Description=Set default power profile to performance
After=tuned.service
Requires=tuned.service

[Service]
Type=oneshot
ExecStart=/usr/bin/tuned-adm profile throughput-performance

[Install]
WantedBy=multi-user.target
